# Build output
bin/
obj/

# EF Core database files
*.db
*.db-shm
*.db-wal

# User-specific files
*.user
.vs/
.vscode/

# Test Results
TestResults/

# Environment/secret files
appsettings.Development.json